body{
    background: rgba(106, 164, 119, .44);
    font-family: 'Roboto', sans-serif;
}

main{
    display: flex;
    justify-items: center;
    justify-content: center;
}

.calculator{
    display: flex;
    flex-direction: column;
    justify-self: right;
}

.display-container{
    width: 520px;
    height: 160px;
    background: #424242;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.25);
    border-radius: 13px 13px 0px 0px;
    display: flex;
    justify-content: flex-end;
}

.main-body{
    width: 520px;
    height: 520px;
    background: #C4C4C4;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 13px 13px;
}

#display{
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 90px;
line-height: 105px;

color: #FFFFFF;
text-align: right;
margin-top: 10%;
margin-right: 4%;
}

