* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: rgba(106, 164, 119, .44);
    font-family: 'Roboto', sans-serif;

}

main {
    min-height: 100vh;
    display: flex;
    justify-items: center;
    justify-content: center;
}

.calculator {
    
    display: flex;
    flex-direction: column;
    justify-self: right;
    width: 400px;
}



.display-container {
    width: 400px;
    /* height: 160px; */
    background: #424242;
    border: 1px solid #000000;
    box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.25);
    border-radius: 13px 13px 0px 0px;
    display: flex;
    justify-content: flex-end;
}

.main-body {
    width: 100%;
    height: 400px;
    background: #C4C4C4;
    /* border: 1px solid #000000; */
    box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 13px 13px;
}

#display {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 90px;
    line-height: 105px;
    color: #FFFFFF;
    text-align: right;
    margin-top: 10%;
    margin-right: 4%;
}


.button-container{

    display: grid;
    margin: 0;
    padding: 0;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.operator-container{
    display: grid;
    grid-template-columns: repeat(4), 1fr;
    grid-template-rows: repeat(5), 1fr;
}

button{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 24px;
    height: 80px;
    /* width: 80px; */
    border: 1px solid black;
    background-color: #9C9797;
}

#zero{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: span 6;
    border-bottom-left-radius: 13px;
}

#divition, #multiplication, #subtraction, #addition, #equal{
    background: #E3A400;
}

#negate, #percent, #clear{
    background-color: #5C5C5C;
}

#divition{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
}

#multiplication{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
}

#subtraction{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;

}

#addition{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 4;
}

#equal{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 5;
    border-bottom-right-radius: 13px;
    
}
